*.suo
FourOperator/.vs/
FourOperator/Add/
FourOperator/Sub/Debug/vc142.idb
FourOperator/Sub/Debug/
FourOperator/Mul/
FourOperator/Div/Debug/Div.tlog/Div.lastbuildstate
FourOperator/Div/Debug/Div.tlog/CL.command.1.tlog
FourOperator/Div/Debug/Div.tlog/
FourOperator/Debug/
FourOperator/Div/Debug/
FourOperator/Add/Debug/
FourOperator/.vs/
*.user
FourOperator/Sub/Debug/Sub.tlog/link.command.1.tlog
FourOperator/Sub/Debug/
FourOperator/Mul/
FourOperator/Debug/Mul.exp
FourOperator/Debug
FourOperator/UnitTest1/Debug/UnitTest1.tlog/CL.read.1.tlog
FourOperator/UnitTest1/
FourOperator/Div/
*.sdf
*.ipch
