*.suo
FourOperator/.vs/
FourOperator/Add/
FourOperator/Sub/Debug/Sub.tlog/link.command.1.tlog
FourOperator/Sub/Debug/
FourOperator/Mul/
FourOperator/Debug/Mul.exp
FourOperator/Debug/
FourOperator/FourOperator.sdf
FourOperator/Div/Div.vcxproj.user
FourOperator/Div/LastCoverageResults.log
FourOperator/Div/Debug/Div.Build.CppClean.log
FourOperator/Div/Debug/Div.exe.recipe
FourOperator/Div/Debug/Div.log
FourOperator/Div/Debug/Div.obj
FourOperator/Div/Debug/Div.vcxproj.FileListAbsolute.txt
FourOperator/Div/Debug/vc142.idb
FourOperator/Div/Debug/vc142.pdb
FourOperator/Div/Debug/Div.tlog/CL.command.1.tlog
FourOperator/Div/Debug/Div.tlog/CL.read.1.tlog
FourOperator/Div/Debug/Div.tlog/CL.write.1.tlog
FourOperator/Div/Debug/Div.tlog/Div.lastbuildstate
FourOperator/Div/Debug/Div.tlog/link.command.1.tlog
FourOperator/Div/Debug/Div.tlog/link.read.1.tlog
FourOperator/Div/Debug/Div.tlog/link.write.1.tlog
FourOperator/Div/x64/Debug/Div.log
FourOperator/ipch/unittest1-25543069/unittest1-26811b7b.ipch
FourOperator/UnitTest1/LastCoverageResults.log
FourOperator/UnitTest1/pch.cpp
FourOperator/UnitTest1/pch.h
FourOperator/UnitTest1/UnitTest1.cpp
FourOperator/UnitTest1/UnitTest1.vcxproj
FourOperator/UnitTest1/UnitTest1.vcxproj.filters
FourOperator/UnitTest1/UnitTest1.vcxproj.user
FourOperator/UnitTest1/.opencppcov/UnitTest1/Debug_x86.json
FourOperator/UnitTest1/Debug/pch.obj
FourOperator/UnitTest1/Debug/UnitTest1.Build.CppClean.log
FourOperator/UnitTest1/Debug/UnitTest1.dll.recipe
FourOperator/UnitTest1/Debug/UnitTest1.idb
FourOperator/UnitTest1/Debug/UnitTest1.lib.recipe
FourOperator/UnitTest1/Debug/UnitTest1.log
FourOperator/UnitTest1/Debug/UnitTest1.obj
FourOperator/UnitTest1/Debug/UnitTest1.pch
FourOperator/UnitTest1/Debug/UnitTest1.pdb
FourOperator/UnitTest1/Debug/UnitTest1.vcxproj.FileListAbsolute.txt
FourOperator/UnitTest1/Debug/vc142.idb
FourOperator/UnitTest1/Debug/vc142.pdb
FourOperator/UnitTest1/Debug/UnitTest1.tlog/CL.command.1.tlog
FourOperator/UnitTest1/Debug/UnitTest1.tlog/CL.read.1.tlog
FourOperator/UnitTest1/Debug/UnitTest1.tlog/CL.write.1.tlog
FourOperator/UnitTest1/Debug/UnitTest1.tlog/Lib.command.1.tlog
FourOperator/UnitTest1/Debug/UnitTest1.tlog/Lib-link.read.1.tlog
FourOperator/UnitTest1/Debug/UnitTest1.tlog/Lib-link.write.1.tlog
FourOperator/UnitTest1/Debug/UnitTest1.tlog/link.command.1.tlog
FourOperator/UnitTest1/Debug/UnitTest1.tlog/link.delete.1.tlog
FourOperator/UnitTest1/Debug/UnitTest1.tlog/link.read.1.tlog
FourOperator/UnitTest1/Debug/UnitTest1.tlog/link.write.1.tlog
FourOperator/UnitTest1/Debug/UnitTest1.tlog/UnitTest1.lastbuildstate
FourOperator/UnitTest1/Debug/UnitTest1.tlog/UnitTest1.write.1u.tlog
FourOperator/UnitTest1/x64/Debug/UnitTest1.log
FourOperator/ipch/unittest1-25543069/unittest1-484f65fd.ipch
FourOperator/ipch/unittest2_vs2013-fb91c7/unittest2_vs2013-963ef54c.ipch
FourOperator/UnitTest1/Debug/UnitTest1.tlog/link.15180.delete.1.tlog
FourOperator/UnitTest1/Debug/UnitTest1.tlog/link.15536.delete.1.tlog
FourOperator/UnitTest1/Debug/UnitTest1.tlog/link.2860.delete.1.tlog
