*.suo
FourOperator/.vs/
FourOperator/Add/
FourOperator/Sub/Debug/vc142.idb
FourOperator/Sub/Debug/
FourOperator/Mul/
FourOperator/Div/Debug/Div.tlog/Div.lastbuildstate
FourOperator/Div/Debug/Div.tlog/CL.command.1.tlog
FourOperator/Div/Debug/Div.tlog/
FourOperator/Debug/
FourOperator/Div/Debug/
FourOperator/Add/Debug/
FourOperator/.vs/
*.user